body{
    height: 100%;
    width: 100%;
    background-color: black;
}
header{
    height: 25%;
    width: 100%;
}
#spacebetween{
    background-image: url("https://wikitravel.org/upload/shared//3/36/Hill_Country_Banner.jpg");
    height: 150px;
    width: 100%;
    background-position: 37% 24%;
}
.PageNav{
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: whitesmoke;
    z-index: 100;
    top: 0;
}
.NavLink{
    margin-left: 12%;
    margin-top: 50%;
    padding: 3px;
    z-index: 1000;
    position: relative;
    top: 16%;
    font-size: 2em;
    color: black;
    text-decoration: none;
}
.PageNav>img{
    height: 53px;
    width: 69px;
}
#logo{
    position: absolute;
    left: 1%;
    top: 1%
}
#home{
position: absolute;
left: 18%;
top: 1%
}
#aboutus{
position: absolute;
left: 40%;
top: 4%
}
#help{
position: absolute;
left: 56%;
top: 5%
}
#FAQ{
position: absolute;
left: 73%;
top: 5%
}
#cart{
position: absolute;
left: 89%;
top: 1%
}
.PageNav>a:hover{
    color: black;
    text-decoration: underline;
}
main{
    height: 800px;
    position: relative;
}
.MainArticle1{
    background-color: lightgray;
    height: 400px;
    position: absolute;
    top: 40%;
    left: 2%;
    width: 15%;
    z-index: 10;
}
.MainArticle1 a{
    color: black;
}
.MainArticle2{
    background-color: lightgray;
    height: 400px;
    position: absolute;
    top: 40%;
    left: 18%;
    width: 54%;
    z-index: 10;
}
.MainArticle2 p{
    border: solid whitesmoke 2px;
    padding: 10px;
    position: relative;
    background-color: black;
    color: whitesmoke;
    margin-left: 16px;
    margin-right: 16px;
    height: 72%;
}
.MainArticle3{
    background-color: lightgray;
    height: 400px;
    position: absolute;
    top: 21%;
    right: 2%;
    width: 25%;
    z-index: 10;
}
.MainArticle3 img{
    height: 67%;
    width: 85%;
    position: relative;
    top: 10%;
    left: 7%;
    border: solid whitesmoke 2px;
    border-radius: 50%;
}
.MainArticle3 h3{
    position: relative;
    top: 0;
    left: 42%;
}
.MainArticle4{
    background-color: lightgray;
    position: absolute;
    top: 100%;
    left: 2%;
    height: 106%;
    width: 216px;
}
.adBox{
    height: 9%;
    width: 45%;
    background-color: whitesmoke;
    border: solid black 1px;
    border-radius: 10%;
    position: relative;
    left: 25.5%;
    padding-top: 7%;
    margin-top: 31%;
}
.MainArticle5{
    background-color: lightgray;
    background-size: 100%;
    position: absolute;
    top: 92%;
    left: 18%;
    height: 98%;
    width: 54%;

}
.MainArticle5>img{
    margin-left: 2%;
    margin-top: 2%;
    height: 30%;
    width: 30%;
    border: solid whitesmoke 2px;
}
.MainArticle6{
    background-color: lightgray;
    position: absolute;
    top: 74%;
    right: 2%;
    height: 300px;
    width: 25%;

}
.Welcome{
    height: 86px;
    width: 775px;
    border: solid whitesmoke 1px;
    color: white;
    position: relative;
    left: 18%;
    top: -3%;
    text-align: center;
    padding-top: 39px;
    font-size: 4em;
}
article>h1{
    background-color: whitesmoke;
    border: black solid 1px;
    padding-left: 5px;
    margin-left: 16px;
    margin-right: 16px;
    width: auto;
}
.ProductList{
    padding-left: 10%;
    font-size: 1.5em;
    padding-bottom: 5%;
    position: relative;
    top: 0;
    left: 12%;
}
a:hover{
    color:whitesmoke;
    text-decoration: blink;
}
#spacebetween p{
    color: whitesmoke;
    font-family: cursive;
    text-decoration: underline;
    font-size: 4em;
    position: absolute;
    top: 0;
    left: 0;
}
article{
    border: solid whitesmoke 2px;
}
.ads {
    position: absolute;
    left: 1%;
    top: 87%;
    color: white;
    font-family: cursive;
    font-size: 3em;
    z-index: 15;
}
.adBox:hover{
    transform: scale(1.5);
}
img:hover{
    opacity: 0.6;
}
.horseimg {
    position: absolute;
    top: 15%;
    left: 3%;
    height: 250px;
    width: 250px;
    z-index: 5;
    border-radius: 40%;
}
.horseimg:hover {
    position: absolute;
    top: 15%;
    left: 3%;
    height: 250px;
    width: 250px;
    z-index: 5;
    transition: transform .5s ease;
    transform: rotate(40deg);
    border-radius: 40%;
}
