.headerNav {
    background-color: black;
    height: 59px;
    width: 750px;

}
.headerNav a{
    color: lightgrey;
    padding-left: 10px;
    text-decoration: none;
    border-bottom: 10px;
}
.headerNav img {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.headerNav p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 384px;
    float: right;
    clear: right;
}
img{
    height: 35px;
    Width: 35px
}
table{
    margin-left: 5px;
    margin-right: 5px;
    width: 730px;
    border: solid lightgrey 1px;
}
.trows{
    border-bottom: solid lightgrey 1px;
}
footer{
    font-size: 13px;
}
.tableHeader{
    border: solid lightgrey 1px;
    background-color: whitesmoke;
    width: 730px;
    margin-left: 5px;
    margin-right: 5px;
}
.tableHeader p{
    margin-left: 27px;
    font-size: 15px;
    color: darkslategray;
}
.tabBar a{
    color: darkgrey;
    text-decoration: none;
    margin-left: 15px;
    font-size: 13px;

}
#peopleTab{
    border: solid lightgrey 1px;
    padding: 5px;
    border-top: solid orange 3px;
    border-bottom: solid white;
}
.abovetable{
    background-color: whitesmoke;
    width: 750px;
    height: 120px;
}

.codeupHeader{
    margin-top: 0px;
    margin-bottom: 35px;
}
.spaceBetween{
    width:750px;
    height: 50px;
    border-top: solid lightgrey 1px;
}
.profilepic{
    width: 50px;
    padding-left: 25px;
}
hr{
    color: lightgrey;
    width: 750px;
    float: left;
}
